#headshot {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0%;
}

p,
h1 {
    text-align: center;
}

#about-me {
    margin: auto 10%;
}